{% extends 'userbase.html' %}
{% block content %}
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Welcome  {{user.last_name}} {{user.first_name}}</h1>
        </div>
        {% if user.tasks %}
        <div class="jumbotron">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Task</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in user.tasks %}
                    <tr class="{{ task.getPriorityClasss() }}">
                        <td>
                            {{task.description}}
                        </td>
                        <td class="text-center">
                            <form action="/doneTask" method="post">
                                <input type="hidden" name="hiddenTaskId" value="{{task.task_id }}"/>
                                <button type="submit" class="btn btn-success">Done</button>
                            </form>
                        </td>
                        <td class="text-center">
                            <form action="/editTask" method="post">
                                <input type="hidden" name="hiddenTaskId" value="{{task.task_id }}"/>
                                <button type="submit" class="btn btn-info">Edit</button>
                            </form>
                        </td>
                        <td class="text-center">
                            <form action="/deleleTask" method="post">
                                <input type="hidden" name="hiddenTaskId" value="{{task.task_id }}"/>
                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning text-center">
            <h4>You dont have task in list!</h4>
        </div>
        <p class="lead text-center"></p>
        <p><a class="btn btn-lg btn-success" href="/newTask">New task</a></p>
        {% endif %}
    </div>
{% endblock %}